<div class="col-xl-4 col-lg-4">
  <a routerLinkActive="active" [routerLink]="['/buzon/14']">
      <div class="card card-stats mb-4 mb-xl-0">
          <div class="card-body">
              <div class="row">
                  <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Buzón</h5>
                      <span class="h2 font-weight-bold mb-0">Alarmas </span>
                  </div>
                  <div class="col-auto">
                      <div class="icon icon-shape bg-purple text-white rounded-circle shadow">
                      <i class="fas fa-print"></i>
                      </div>
                  </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> Atencion</span>
                  <span class="text-nowrap">en el sistema</span>
              </p>
          </div>
      </div>
  </a>
</div>